*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}
/*============Basic-Setup=============*/
body{
    font-family: 'Work Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
    display: inline-block;    
}
section {
    padding: 80px 0;
}
h3 {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

/*=====Global-Css=======*/
.small-container {
    width: 85%;
    margin: auto;
}
.container {
    width: 90%;
    margin: auto;
}

.btn{
    background: #28dcf1;
    padding: 16px 20px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 10px;
}
.sub-heading {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}
.little-des {
    font-size: 14px;
    line-height: 2;
    margin: 20px 0;
}
.row {
    width: 100%;
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
}
/*Header-section*/

header {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-color: #fafafc;
    height: 130vh;
   
}
.logo {
    padding-top: 40px;
}
.menu-part li {
    padding-top: 40px;
    margin-left: 15px;
}
.menu-part ul {
    text-align: end;
}
.menu-part li a {
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
}
.menu-part li a:hover {
    background: rgba(255, 82, 0, 0.38);
    padding: 10px 20px;
    border-radius: 10px;
}
.hero-content {
    text-align: center;
    margin-top: 100px;
}
.hero-content h1 {
    width: 50%;
    margin: auto;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
}
.hero-content p {
    font-size: 15px;
    margin: 20px 0;
    color: #fff;

}
.hero-img {
    display: grid;
    justify-content: center;
    padding-top: 50px;
}
.hero-img img {
    width: 100%;
    height: 90%;
}
.first-button {
    background: #fff;
    color: #333;
    margin-right: 20px;
}
.last-button {
    background: #09baf2;
    border: 2px solid #fff;
}
#marketing-1 {
    background: #fafafc;
    
}
/*=========Marketing-1 Section=======*/
.marketing-1-img {
    width: 40%;
    padding-left: 80px;
    padding-top: 160px;
    
}
.boxes {
    width: 60%;
    
}
.box {
    width: 200px;
    background: #fff;
    text-align: center;
    margin: 10px 25px 10px 0;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.05);
    
} 
.box p{
    line-height: 2;
    padding: 15px;
    padding-bottom: 30px;
}
.box img {
    padding: 50px 0 20px 0;
}
.box-1 {
    margin-left: 65px
}
.box-2{
    margin-right: 0;
    float: right;
    margin-top: 80px;
    
}
.box-3, .box-4 {
    margin-right: 80px;
    margin-top: 60px;
}
/*============Marketing-2 Section=====*/
#marketing-2 .info {
    text-align: end;
    padding: 60px 80px 0 0;

}
#marketing-2 .service-box {
   box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;

}
#marketing-2 .service-box img {
    width: 5%;
    margin: 15px;
}
#marketing-2 .service-box p{
    line-height: 2;
    padding-bottom: 10px;
    
}
#marketing-2 .service-box h3 {
    padding-top: 15px;
    font-size: 15px
}

#marketing-2 .service-box .service-content {
    padding-left: 20px;
}
#marketing-2 .service-box:nth-child(2) {
    background-color: #33d2fd;
}
#marketing-3 {
    background-color: #fafafc;
}
.marketing-3-img img{
    width: 100%;
}
.merketing-3-content {
    padding-left: 60px;
    margin-top: 30px;
}
.merketing-3-content h3 {
    position: relative;
    padding: 20px 0px  20px 60px;
}
.merketing-3-content i {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 25px;
}
.merketing-3-content i::before {
    background: #33d2fd;
    padding: 5px;
    border-radius: 50%;
}
#marketing-4{
    background-color: #27d8f1;
    
}
.marketing-4-content {
    padding-top: 150px;
    padding-right: 80px;
}
.marketing-4-img {
    padding-left: 150px;  
}
#subscribe{
    text-align: center; 
}
#subscribe .button a {
    background: #fb5f75;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 50px;
    color: #fff;    
}
#subscribe .button{
     position: relative;
     margin-top: -100px;  
}
.services-info {
    width: 80%;
    margin: auto;
}
.services-des {
    padding-bottom: 15px;
}
.services-des ul li {
    display: block;
    padding: 10px 0;
}
.services-des ul li a {
    font-size: 18px;
    color: #000;
}

input[type="text"]{
    background-color: rgba(0, 0, 0, 0.22);
    width: 500px;
    padding: 10px;
}
input[type="submit"]{
    background-color: #33d2fd;
    padding: 10px;
    margin-left: 10px;
    text-transform: uppercase;
}
footer {
    background-color: #233148;
    padding: 20px 0;
}
footer p {
    color: #fff;
    float: left;
}
footer ul li {
    padding-left: 60px;
    margin-left: 10px;
}
footer ul li a i {
    color: #fff;
    
}